# Temporary and Visual Studio-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# IntelliSense database and project cache files
*.VC.db
*.VC.opendb

# Compilation output files
*.exe
*.dll
*.obj
*.lib
*.pdb
*.ilk
*.exp

# Visual Studio-generated directories (e.g., temporary files)
.vs/

# Build directories (Debug and Release)
[Bb]in/
[Oo]bj/
x64/Debug/
x64/Release/

# Visual Studio Code settings (if used)
.vscode/

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Log files
*.log
